.main {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 15px;
}

.nav {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.nav a {
    color: white;
    font-size: 20pt;
    text-decoration: none
}